.cell-wall{
  width: 75px;
  height: 35px;
  background: black;
  border: solid white 1px;
  display: block;
  float: left;
}
.cell-space{
    width: 75px;
    height: 35px;
    background: white;
    display: block;
    float: left;
    border: solid white 1px;
  }

.cell-active{
    width: 75px;
    height: 35px;
    background: white;
    display: block;
    float: left;
    border: solid white 1px;
    background-image: url('../../assets/icon.png');
    background-size:  cover;
    background-position: center;
  }